<h1>About Us</h1>
<p>
  <a href="http://istim.heroku.com/">individual neuroSTIMulation database</a>
  is a project to serve as a research hub and patient community for patients with neurostimulation devices.
</p>
