<h1>About Us</h1>
<p>
  The <%= link_to "internet neuroSTIMulation database", root_path %>
  is a project developed by <%= link_to "Alex Taghva, M.D.", taghva_path %> to serve as a research hub and patient community for patients with neurostimulation devices.
</p>
