<h1>Alex Taghva</h1>
<p>
  The founder and developer of <%= link_to "iStim", root_path %> is Alex Taghva, M.D..  He obtained his medical degree at Johns Hopkins University.  He is a fellow in neuromodulation at the Ohio State University with Dr. Ali Rezai.  Following this year, he will finish his final year of residency in neurological surgery at the University of Southern California (USC).  You can see his USC page <%= link_to "here.", "http://keck.usc.edu/en/Education/Academic_Department_and_Divisions/Department_of_Neurological_Surgery/Education_and_Training/Current_Residents/Alexander_Taghva.aspx" %>
</p>
